#p1 {
    display: inline-block;
    text-align: justify;
    padding: 20px; 
    width: 30%;
}

#p2,
#p3 {
    display: inline-block;
    text-align: justify;
    padding: 20px;
    border-left: solid 1px black;
    width: 30%;
}